@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px;
  scroll-behavior: smooth;
}

.global__button {
  margin-top: 2rem;
  border: 1px solid #71d99e;
  border-radius: 4px;
  font-size: 1.2rem;
  color: #71d99e;
  background-color: #212226;
  padding: 1rem;
  cursor: pointer;
}

@media (min-width: 760px) {
  .global__button {
    font-size: 1.5rem;
    padding: 1rem 1.5rem;
  }
}

.global__button:hover {
  background-color: #ccd6f6;
  color: #212226;
  border: 1px solid #212226;
}

.global__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 5rem;
  color: #e6f1ff;
  font-size: 1.5rem;
  font-weight: normal;
  white-space: nowrap;
}

@media (min-width: 760px) {
  .global__title {
    font-size: 1.8rem;
  }
}

.global__title::before {
  position: relative;
  counter-increment: section 1;
  content: "0" counter(section) ".";
  margin-right: 10px;
  color: #71d99e;
  font-family: "Roboto Mono", monospace;
  font-size: 1.5rem;
  font-weight: lighter;
}

.global__title::after {
  content: "";
  display: block;
  position: relative;
  height: 1px;
  width: 100%;
  margin-left: 10px;
  background-color: #ccd6f6;
}

.global__green-element {
  color: #71d99e;
  font-size: 1.2rem;
}

@media (min-width: 760px) {
  .global__green-element {
    font-size: 1.5rem;
  }
}

.blocked {
  overflow: hidden;
}

body {
  background-color: #212226;
  margin: 1.5rem 3rem;
  font-family: "Roboto", sans-serif;
  counter-reset: section;
  overflow-x: hidden;
}

@media (min-width: 1200px) {
  body {
    margin: 3rem 5rem;
  }
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .nav__logo {
  width: 50px;
  height: 50px;
}

@media (min-width: 760px) {
  nav .nav__logo {
    width: 75px;
    height: 75px;
  }
}

.hamburger {
  position: relative;
  display: block;
  width: 35px;
  cursor: pointer;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: none;
  outline: none;
  border: none;
  z-index: 2;
}

@media (min-width: 760px) {
  .hamburger {
    width: 40px;
  }
}

@media (min-width: 1200px) {
  .hamburger {
    display: none;
  }
}

.hamburger .bar,
.hamburger:after,
.hamburger:before {
  content: "";
  display: block;
  width: 100%;
  height: 5px;
  background-color: #71d99e;
  margin: 6px 0px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.hamburger.is-active:before {
  -webkit-transform: rotate(-45deg) translate(-8px, 6px);
          transform: rotate(-45deg) translate(-8px, 6px);
}

.hamburger.is-active:after {
  -webkit-transform: rotate(45deg) translate(-9px, -8px);
          transform: rotate(45deg) translate(-9px, -8px);
}

.hamburger.is-active .bar {
  opacity: 0;
}

@media (min-width: 1200px) {
  nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.nav__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  right: -100%;
  width: 100%;
  min-height: 100vh;
  background: #1e4040;
  z-index: 1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media (min-width: 1200px) {
  .nav__ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    background: none;
    position: static;
    min-height: 0;
    -webkit-box-pack: normal;
        -ms-flex-pack: normal;
            justify-content: normal;
    -webkit-box-align: normal;
        -ms-flex-align: normal;
            align-items: normal;
    width: auto;
    -webkit-transition: none;
    transition: none;
  }
}

.nav__ul.is-active {
  right: 0;
}

.nav__ul .nav__li {
  list-style: none;
  padding: 2.5rem;
}

@media (min-width: 1200px) {
  .nav__ul .nav__li {
    padding: 0;
    margin: 0 1.2rem;
  }
}

.nav__ul .nav__li .nav__link {
  text-decoration: none;
  color: #e6f1ff;
  letter-spacing: 0.1rem;
  font-size: 1.5rem;
}

.nav__ul .nav__li .nav__link .nav__span {
  color: #71d99e;
  font-family: "Roboto Mono", monospace;
  font-size: 1.5rem;
}

.nav__link:hover {
  border-bottom: 1px solid #71d99e;
}

.header__info {
  margin-top: 4rem;
}

.header__info .header__title {
  color: #71d99e;
  font-size: 1.5rem;
  font-weight: lighter;
  letter-spacing: 0.1rem;
}

@media (min-width: 760px) {
  .header__info .header__title {
    font-size: 1.8rem;
  }
}

.header__info .header__subtitle {
  margin-top: 1rem;
  color: #e6f1ff;
  font-size: 1.8rem;
}

@media (min-width: 760px) {
  .header__info .header__subtitle {
    font-size: 2.5rem;
  }
}

.header__info .header__subtitle .header__subtitle_dark {
  margin-top: 0.5rem;
  color: #ccd6f6;
  font-size: 1.6rem;
}

@media (min-width: 760px) {
  .header__info .header__subtitle .header__subtitle_dark {
    font-size: 2rem;
  }
}

.header__info .header__description {
  margin-top: 1rem;
  color: #ccd6f6;
  font-size: 1.2rem;
}

@media (min-width: 760px) {
  .header__info .header__description {
    font-size: 1.5rem;
  }
}

.header__info .header__description .header__description_green {
  color: #71d99e;
  font-size: 1.5rem;
}

.scroll__button {
  position: fixed;
  display: none;
  bottom: 20px;
  right: 5px;
  z-index: 99;
  color: #71d99e;
  font-size: 1rem;
  border: 2px solid #71d99e;
  background-color: #212226;
  border-radius: 50px;
  padding: 0.5rem;
  cursor: pointer;
}

@media (min-width: 760px) {
  .scroll__button {
    right: 10px;
  }
}

@media (min-width: 1200px) {
  .scroll__button {
    right: 20px;
  }
}

.scroll__button:hover {
  background-color: #ccd6f6;
  color: #212226;
  border: 2px solid #212226;
}

.about-me {
  margin: 8rem 0 -3rem 0;
}

@media (min-width: 760px) {
  .about-me {
    margin-top: 0;
  }
}

.about-me__container {
  margin-top: 2.5rem;
}

.about-me__description {
  color: #ccd6f6;
  font-size: 1.1rem;
}

@media (min-width: 760px) {
  .about-me__description {
    font-size: 1.5rem;
  }
}

.about-me__skills-list {
  margin-top: 2rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(140px, 200px))[2];
      grid-template-columns: repeat(2, minmax(140px, 200px));
  overflow: hidden;
  list-style: outside none none;
}

.about-me__skills-list .about-me__skills__item {
  color: #ccd6f6;
  font-size: 1.1rem;
}

@media (min-width: 760px) {
  .about-me__skills-list .about-me__skills__item {
    font-size: 1.5rem;
  }
}

.about-me__skills__item::before {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #71d99e;
  content: "▹";
  margin-right: 0.2rem;
}

@media (min-width: 1200px) {
  .projects__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

.projects {
  margin-bottom: -3rem;
}

.projects__container {
  margin-top: 2.5rem;
  border: 1px solid #71d99e;
  border-radius: 4px;
  padding: 1.5rem 1rem;
}

@media (min-width: 760px) {
  .projects__container {
    padding: 2.5rem 2rem;
  }
}

@media (min-width: 1200px) {
  .projects__container {
    padding: 3.5rem 2rem;
    text-align: center;
    margin: 3rem 1rem;
    width: 450px;
  }
}

.projects__container .projects__title {
  color: #e6f1ff;
  font-size: 1.2rem;
  font-weight: normal;
  margin-bottom: 0.5rem;
}

@media (min-width: 760px) {
  .projects__container .projects__title {
    font-size: 1.5rem;
  }
}

.projects__container .projects__description {
  color: #ccd6f6;
  margin-bottom: 0.5rem;
}

@media (min-width: 760px) {
  .projects__container .projects__description {
    font-size: 1.2rem;
  }
}

.projects__container .projects__tech {
  color: #71d99e;
  margin-bottom: 0.5rem;
}

@media (min-width: 760px) {
  .projects__container .projects__tech {
    font-size: 1.2rem;
  }
}

.projects__container .projects__link {
  display: inline-block;
  margin: 0.5rem 1.5rem 0 0;
}

.projects__container .projects__item {
  color: #e6f1ff;
  font-size: 1.2rem;
}

@media (min-width: 760px) {
  .projects__container .projects__item {
    font-size: 1.5rem;
  }
}

@media (min-width: 1200px) {
  .projects__container .projects__item {
    font-size: 2rem;
    margin-top: 1rem;
  }
}

.projects__item:hover {
  color: #71d99e;
}

@media (min-width: 1200px) {
  .other__projects__wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
  }
}

.other__projects {
  margin-bottom: -3rem;
}

.other__archive {
  margin-top: 2.5rem;
  text-align: center;
}

.other__archive .other__archive_link {
  color: #71d99e;
  text-decoration: none;
}

@media (min-width: 760px) {
  .other__archive .other__archive_link {
    font-size: 1.5rem;
  }
}

.other__archive_link:hover {
  border-bottom: 1px solid #71d99e;
}

.other__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1rem;
}

@media (min-width: 1200px) {
  .other__icons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
}

.other__icons .other__item {
  color: #71d99e;
  font-size: 3rem;
}

@media (min-width: 760px) {
  .other__icons .other__item {
    font-size: 3.5rem;
  }
}

.other__item:hover {
  color: #ccd6f6;
}

.contact__container {
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 760px) {
  .contact__container {
    margin-top: 5rem;
  }
}

@media (min-width: 1200px) {
  .contact__container {
    margin-top: 3rem;
  }
}

.contact__container .contact__title {
  color: #e6f1ff;
  font-size: 1.5rem;
}

.contact__container .contact__description {
  color: #ccd6f6;
  text-align: center;
  margin-top: 0.5rem;
}

@media (min-width: 760px) {
  .contact__container .contact__description {
    font-size: 1.2rem;
  }
}

@media (min-width: 760px) {
  footer {
    margin-top: 5rem;
  }
}

@media (min-width: 1200px) {
  footer {
    margin-top: 3rem;
  }
}

.footer__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: 3rem;
}

@media (min-width: 1200px) {
  .footer__icons {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 1rem;
  }
}

.footer__icons .footer__item {
  color: #e6f1ff;
  font-size: 1.5rem;
}

@media (min-width: 1200px) {
  .footer__icons .footer__item {
    padding: 1rem;
  }
}

.footer__item:hover {
  color: #71d99e;
}

.footer__info {
  text-align: center;
  margin-top: 1rem;
  color: #ccd6f6;
}

@media (min-width: 760px) {
  .footer__info {
    font-size: 1.2rem;
  }
}
/*# sourceMappingURL=styles.css.map */